# Unreal Engine Coding Style
root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

# C++ File
[*.{cpp,h,hpp,inl}]
indent_style = tab
indent_size = 4
max_line_length = 120

# ETC
[*.{cs,ini,json,uproject}]
indent_style = space
indent_size = 4

# 특수 파일 설정
[*.build.cs]
indent_style = tab
indent_size = 4

# 프로젝트 파일
[*.vcxproj]
indent_style = space
indent_size = 2